.navbar-style {
    background-color: #fff9ed;
}

.logo-style {
    width: 15%;
    padding-bottom: 2%;
    margin-right: 10px;
}

.light-mode {
    padding: 4%;

}

.dark-mode {
    padding: 4%;
}