.card-group-style {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.text-style {
    text-align: center;
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    .card-group-style {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}